manifest {
    mainScript = "main.nf"
}

plugins {
    id 'nf-amazon'
    id 'nf-schema@2.2.0'
}

conda {
    enabled = true
    cacheDir = "conda_cache"
}

params {

    // --- INPUTS
    samplesheet = ''
    accession = ''
    accession_file = ''
    
    outdir = "results"
    publish_dir_mode = 'copy'
    singularity_cachedir = "singularity_cache"
    reads_cache_path = "download_cache/reads"

    save_trimmed_fail = false

    // --- DBS
    databases {
        cache_path = "download_cache/databases"   // db download destination
        download_ftp_path = 'ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipeline-5.0/ref-dbs'
        motus {
            name = 'db_mOTU'
            remote_path = "${params.databases.download_ftp_path}/db_mOTU_v3.0.1.tar.gz"
            md5_path = ''  // "${databases.download_ftp_path}/db_mOTU_v3.0.1.tar.gz.md5"
            local_path = ''
        }
        host_genome {
            name = 'hg38'
            remote_path = "${params.databases.download_ftp_path}/hg38.tar.gz"
            md5_path = ''  // "${download_ftp_path}/hg38.tar.gz.md5"
            local_path = ''
            files {
                genome = 'hg38.fa'
                bwa_index_prefix = 'hg38.fa'
            }
        }
        rfam {
            name = 'rfam_models'
            remote_path = "${params.databases.download_ftp_path}/rfam_models.tar.gz"
            md5_path = "${params.databases.download_ftp_path}/rfam_models.tar.gz.md5"
            local_path = ''
            files {
                ribosomal_models_folder = 'ribosomal_models'
                ribosomal_models_file = 'ribosomal_models/ribo.cm'
                ribosomal_claninfo_file = 'ribosomal_models/ribo.claninfo'
                other_models_folder = 'other_models'
                other_models_file = 'other_models/other.cm'
                other_claninfo_file = 'other_models/other.claninfo'
            }
        }
        silva_ssu {
            name = 'silva_ssu-20200130'
            remote_path = "${params.databases.download_ftp_path}/silva_ssu-20200130.tar.gz"
            md5_path = "${params.databases.download_ftp_path}/silva_ssu-20200130.tar.gz.md5"
            local_path = ''
            files {
                fasta = "SSU.fasta"
                tax = "slv_ssu_filtered2.txt"
                otu = "ssu2.otu"
                mscluster = 'SSU.fasta.mscluster'
            }
            variables {
                label = 'SSU'
            }
        }
        silva_lsu {
            name = 'silva_lsu-20200130'
            remote_path = "${params.databases.download_ftp_path}/silva_lsu-20200130.tar.gz"
            md5_path = "${params.databases.download_ftp_path}/silva_lsu-20200130.tar.gz.md5"
            local_path = ''
            files {
                fasta = "LSU.fasta"
                tax = "slv_lsu_filtered2.txt"
                otu = "lsu2.otu"
                mscluster = "LSU.fasta.mscluster"
            }
            variables {
                label = 'LSU'
            }
        }
    } 

    // -- reads qc subwf args
    qc_params {
        filter_amplicon = false
        save_merged = true
    }
    // --- fastp filtering ---
    fastp_params {
        length_filter = 10
        polya_trim = 10
        qualified_quality_phred = 15
        unqualified_percent_limit = 10
    }
}

profiles {

    aws {
        process {
            executor = 'awsbatch'
            queue = 'nextflow_queue'
        }

        aws {
            batch {
                // NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
                cliPath = '/home/ec2-user/miniconda/bin/aws'
                maxParallelTransfers = 2
                maxTransferAttempts = 2
            }
            region = 'eu-west-1'
        }

        workDir = 's3://mgnify-nf/nextflow_env'

        includeConfig 'config/aws.config'
    }

    lsf {
        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"
    }
    singularity {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }

    local {
         docker {
            enabled = true
            autoMounts = true
            fixOwnership = true
        }
        executor {
            name = "local"
            cpus = 2
        }

        includeConfig 'config/local.config'
    }

    codon_interactive {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
        executor {
            name = "local"
            cpus = 1
        }

        includeConfig 'config/codon_interactive.config'
    }
}

includeConfig 'conf/modules.config'
