manifest {
    mainScript = "main.nf"
}

plugins {
    id 'nf-amazon'
    id 'nf-schema@2.2.0'
}

params {

    // --- INPUTS
    samplesheet = ''
    accession = ''
    accession_file = ''

    skip_qc = false
    skip_decontam = false

    outdir = "results"
    publish_dir_mode = 'copy'
    singularity_cachedir = "singularity_cache"
    reads_cache_path = "download_cache/reads"
    // conda_cache_path = "conda_cache"

    save_trimmed_fail = false
    remove_human_phix = true
    // --- DBS
    databases {
        cache_path = "download_cache/databases"
        // db download destination
        download_ftp_path = 'ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipeline-5.0/ref-dbs'

        motus {
            base_dir = 'db_mOTU'
            remote_path = "${params.databases.download_ftp_path}/db_mOTU_v3.0.1.tar.gz"
            local_path = ''
        }

        host_genome {
            base_dir = 'hg38'
            remote_path = "${params.databases.download_ftp_path}/hg38.tar.gz"
            local_path = ''
            files {
                genome = 'hg38.fa'
                bwa_index_prefix = 'hg38.fa'
            }
        }

        host_genome_minimap2 {
            base_dir = '.'
            remote_path = 'ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/references/human/hg38.mmi'
            local_path = ''
            files {
                index = 'hg38.mmi'
            }
        }

        phix {
            base_dir = '.'
            // remote_path = 'ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/references/human_phiX/human_phix_ref_bwamem2.tar.gz'
            remote_path = 'https://www.ebi.ac.uk/ena/browser/api/fasta/MN385565?download=true&lineLimit=0'
            local_path = ''
            files {
                genome = 'MN385565.fasta'
                bwa_index_prefix = 'MN385565.fasta'
            }
        }

        rfam {
            base_dir = 'rfam_models'
            remote_path = "${params.databases.download_ftp_path}/rfam_models.tar.gz"
            local_path = ''
            files {
                ribosomal_models_folder = 'ribosomal_models'
                ribosomal_models_file = 'ribosomal_models/ribo.cm'
                ribosomal_claninfo_file = 'ribosomal_models/ribo.claninfo'
                other_models_folder = 'other_models'
                other_models_file = 'other_models/other.cm'
                other_claninfo_file = 'other_models/other.claninfo'
            }
        }

        silva_ssu {
            base_dir = 'silva_ssu-20200130'
            remote_path = "${params.databases.download_ftp_path}/silva_ssu-20200130.tar.gz"
            local_path = ''
            files {
                fasta = "SSU.fasta"
                tax = "slv_ssu_filtered2.txt"
                otu = "ssu2.otu"
                mscluster = 'SSU.fasta.mscluster'
            }
            variables {
                label = 'SSU'
            }
        }

        silva_lsu {
            base_dir = 'silva_lsu-20200130'
            remote_path = "${params.databases.download_ftp_path}/silva_lsu-20200130.tar.gz"
            local_path = ''
            files {
                fasta = "LSU.fasta"
                tax = "slv_lsu_filtered2.txt"
                otu = "lsu2.otu"
                mscluster = "LSU.fasta.mscluster"
            }
            variables {
                label = 'LSU'
            }
        }
    }

    // -- reads qc subwf args
    qc_params {
        filter_amplicon = false
        save_merged = true
    }
    // --- fastp filtering ---
    fastp_params {
        length_filter = 10
        polya_trim = 10
        qualified_quality_phred = 15
        unqualified_percent_limit = 10
    }
}

profiles {

    aws {
        process {
            executor = 'awsbatch'
            queue = 'nextflow_queue'
        }

        aws {
            batch {
                // NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
                cliPath = '/home/ec2-user/miniconda/bin/aws'
                maxParallelTransfers = 2
                maxTransferAttempts = 2
            }
            region = 'eu-west-1'
        }

        workDir = 's3://mgnify-nf/nextflow_env'

        includeConfig 'config/aws.config'
    }

    lsf {
        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"
    }
    singularity {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }

    local {
        includeConfig 'config/local.config'
    }

    mini {
        includeConfig 'config/mini.config'
    }

    conda {
        includeConfig 'config/conda.config'
    }

    codon_interactive {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
        executor {
            name = "local"
            cpus = 1
        }

        includeConfig 'config/codon_interactive.config'
    }

    internal {
        includeConfig 'conf/internal.config'
    }

    codon {
    	includeConfig 'conf/codon.config'
    }
}

includeConfig 'conf/modules.config'
