manifest {
    mainScript = "main.nf"
}

plugins {
    id 'nf-amazon'
    id 'nf-schema@2.2.0'
}

// Enable modules scripts and strict mode
nextflow {
    enable {
        moduleBinaries = true
        strict = true
    }
}

cleanup = true
nextflow.enable.moduleBinaries = true

params {
    singularity_cachedir = "singularity_cache"

    // --- INPUTS
    samplesheet = ''
    accession = ''
    accession_file = ''
    use_fire_download = false

    // --- OUTPUTS
    outdir = "results"
    trace_report_suffix = ""
    publish_dir_mode = 'copy'

    // --- RUNNING PARAMETERS
    skip_qc = false
    skip_decontam = false
    skip_functional = true

    multiqc_config = null
    multiqc_title = ''
    multiqc_logo = null

    save_trimmed_fail = false
    remove_phix = true
    remove_host = true

    decontam_short_chunksize = 1280000000
    decontam_long_chunksize = 12800000
    cmsearch_chunksize = 3.GB
    hmmsearch_chunksize = 1.GB
    hmmsearch_subsampling = 2000000

    force_download_dbs = false

    // --- DBS
    databases {
        cache_path = "download_cache/databases"

        motus {
            remote_path = "ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/tool-dbs/motus/motus_3.0.3.tar.gz"
            remote_checksum_path = "ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/tool-dbs/motus/motus_3.0.3.tar.gz.md5sum"
            local_path = ''
            files {
                base_dir = 'db_mOTU'
            }
        }

        host_genome {
            remote_path = "ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/references/human_GCF_000001405.40/human_GCF_000001405.40_bwamem2.tar.gz"
            remote_checksum_path = "ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/references/human_GCF_000001405.40/human_GCF_000001405.40_bwamem2.tar.gz.md5sum"
            remote_checksum = "6a0d0936105b1878bef58ee3dab9a4a4"
            local_path = ''
            files {
                bwa_index_prefix = 'human_GCF_000001405.40.fna'
            }
        }

        host_genome_minimap2 {
            remote_path = 'ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/references/human_GCF_000001405.40/human_GCF_000001405.40_minimap2.tar.gz'
            remote_checksum_path = 'ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/references/human_GCF_000001405.40/human_GCF_000001405.40_minimap2.tar.gz.md5sum'
            remote_checksum = "7d15464c74ef3ee44081e3cef1bd7648"
            local_path = ''
            files {
                index = 'human_GCF_000001405.40.fna.mmi'
            }
        }

        phix {
            remote_path = 'ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/references/phiX174_GCF_000819615.1/phiX174_GCF_000819615.1_bwamem2.tar.gz'
            remote_checksum_path = 'ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/references/phiX174_GCF_000819615.1/phiX174_GCF_000819615.1_bwamem2.tar.gz.md5sum'
            remote_checksum = "52fda50705858d522e012cfedc7a2299"
            local_path = ''
            files {
                bwa_index_prefix = 'phiX174_GCF_000819615.1.fna'
            }
        }

        rfam {
            remote_path = "ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/tool-dbs/rfam/rfam_15.0_lsu_ssu.tar.gz"
            remote_checksum_path = "ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/tool-dbs/rfam/rfam_15.0_lsu_ssu.tar.gz.md5sum"
            local_path = ''
            files {
                models = 'rfam_15.0_lsu_ssu'
                claninfo = 'rfam_15.0_lsu_ssu/models.claninfo'
            }
        }

        silva_ssu {
            remote_path = "ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/tool-dbs/silva-ssu/silva-ssu_138.1.tar.gz"
            remote_checksum_path = "ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/tool-dbs/silva-ssu/silva-ssu_138.1.tar.gz.md5sum"
            local_path = ''
            files {
                fasta = "SILVA-SSU.fasta"
                tax = "SILVA-SSU-tax.txt"
                otu = "SILVA-SSU.otu"
                mscluster = 'SILVA-SSU.fasta.mscluster'
                version = 'VERSION.txt'
            }
            variables {
                label = 'SSU'
            }
        }

        silva_lsu {
            remote_path = "ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/tool-dbs/silva-lsu/silva-lsu_138.1.tar.gz"
            remote_checksum_path = "ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/tool-dbs/silva-lsu/silva-lsu_138.1.tar.gz.md5sum"
            local_path = ''
            files {
                fasta = "SILVA-LSU.fasta"
                tax = "SILVA-LSU-tax.txt"
                otu = "SILVA-LSU.otu"
                mscluster = 'SILVA-LSU.fasta.mscluster'
                version = 'VERSION.txt'
            }
            variables {
                label = 'LSU'
            }
        }

        pfam {
            remote_path = "ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/tool-dbs/pfam/pfam-a_38.0.hmm.gz"
            remote_checksum_path = "ftp://ftp.ebi.ac.uk/pub/databases/metagenomics/pipelines/tool-dbs/pfam/pfam-a_38.0.hmm.gz.md5sum"
            local_path = ''
            files {
                hmm = "pfam-a_38.0.hmm"
            }
            variables {
                num_models = 21979
            }
        }
    }

    // -- reads qc subwf args
    qc_params {
        filter_amplicon = false
        save_merged = true
    }

    // --- fastp filtering ---
    fastp_params {
        length_filter = 10
        polya_trim = 10
        qualified_quality_phred = 15
        unqualified_percent_limit = 10
    }

    results_file_headers {
        silva_taxonomy = [
            'Count',
            'Superkingdom',
            'Kingdom',
            'Phylum',
            'Class',
            'Order',
            'Family',
            'Genus',
            'Species',
        ]
        motus_taxonomy = [
            'Count',
            'Kingdom',
            'Phylum',
            'Class',
            'Order',
            'Family',
            'Genus',
            'Species',
        ]
    }
}


apptainer.registry = 'quay.io'
docker.registry = 'quay.io'
podman.registry = 'quay.io'
singularity.registry = 'quay.io'
charliecloud.registry = 'quay.io'

// Disable process selector warnings by default.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline${params.trace_report_suffix}.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report${params.trace_report_suffix}.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace${params.trace_report_suffix}.txt"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag${params.trace_report_suffix}.html"
    overwrite = true
}

profiles {
    singularity {
        singularity {
            enabled = true
            autoMounts = true
            pullTimeout = "60 min"
            cacheDir = params.singularity_cachedir
        }
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }

    docker {
        docker {
            enabled             = true
            autoMounts          = true
            fixOwnership        = true
            runOptions          = '-u $(id -u):$(id -g)'
        }
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }

    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }

    local {
        includeConfig 'conf/local.config'
    }

    test {
        includeConfig 'conf/test.config'
    }
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'
