/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/


params {
    test_chunksize = 1.KB
    singularity_cachedir = "singularity_cache"
}

process {
    executor = 'local'

    cpus = 1
    memory = '1 GB'

    withName: SEQKIT_SHUFFLE_FASTA {
        cpus = 1
        memory = '1 GB'
    }

    withName: BBMAP_REFORMAT {
        cpus = 1
        memory = '1 GB'
    }

    withName: BBMAP_REFORMAT_STANDARDISE {
        cpus = 1
        memory = '1 GB'
    }

    withName: MOTUS_PROFILE {
        cpus = 1
        maxForks = 1
        memory = '1 GB'
    }

    withName: INFERNAL_CMSEARCH {
        cpus = 1
        memory = '1 GB'
    }

    withName: HMMER_HMMSEARCH {
        cpus = 1
        memory = '1 GB'
    }

    withName: CMSEARCHTBLOUTDEOVERLAP {
        cpus = 1
        memory = '1 GB'
    }

    withName: 'PIPELINE:DECONTAM_SHORTREAD:DECONTAM_HOST' {
        cpus = 1
        memory = '1 GB'
    }

    withName: 'PIPELINE:DECONTAM_SHORTREAD:DECONTAM_PHIX' {
        cpus = 1
        memory = '1 GB'
    }

    withName: 'PIPELINE:DECONTAM_LONGREAD:DECONTAM' {
        cpus = 1
        memory = '1 GB'
    }

    withName: EXTRACTCOORDS {
        cpus = 1
        memory = '1 GB'
    }

    withName: EASEL_ESLSFETCH {
        cpus = 1
        memory = '1 GB'
    }

    withName: FASTP {
        cpus = 1
        memory = '1 GB'
    }

    withName: SEQKIT_TRANSLATE {
        cpus = 1
        memory = '1 GB'
    }

    withName: KRONA_KTIMPORTTEXT {
        cpus = 1
        memory = '1 GB'
    }

    withName: MAPSEQ {
        cpus = 1
        memory = '1 GB'
    }

    withName: MAPSEQ2BIOM {
        cpus = 1
        memory = '1 GB'
    }

    withName: 'PIPELINE:PROFILE_HMMSEARCH_PFAM:PARSEHMMSEARCHCOVERAGE' {
        cpus = 1
        memory = '1 GB'
    }
}
