/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process.executor = 'local'

params {
    test_chunksize = '1K'
    singularity_cachedir = "singularity_cache"
    num_pfam_models = 21979
}

process {
    withName: RENAMEPAIREDFASTXHEADERS { cpus = 1; memory = '1.0 GB'}
    withName: CHUNKFASTX { 
        cpus = 1
	memory = '1.0 GB'
        ext.args = "-b ${params.test_chunksize}"
    }
    withName: COMBINEBAM { cpus = 1; memory = '1.0 GB'}
    withName: COMBINEHMMSEARCHTBL { cpus = 1; memory = '1.0 GB'}
    withName: FASTAEMBEDLENGTH { cpus = 1; memory = '1.0 GB'}
    withName: DECONTAMBAM { cpus = 1; memory = '1.0 GB'}
    withName: PARSEHMMSEARCHCOVERAGE { cpus = 1; memory = '1.0 GB'}
    withName: INFERNAL_CMSEARCH { cpus = 1; memory = '1.0 GB'}
    withName: MOTUS_PROFILE { 
        cpus = 1
	memory = '1.0 GB'
        ext.args = '-c -p -q'
    }
    withName: HMMER_HMMSEARCH {
        ext.args = "-Z ${params.num_pfam_models} --cut_ga"
    }
    withName: SEQKIT_TRANSLATE {
        ext.args = "--append-frame --allow-unknown-codon --frame 6 --out-subseqs --min-len 15"
    }
}
