/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process.executor = 'local'

params {
    test_chunksize = '1K'
}

process {
    withName: RENAMEPAIREDFASTXHEADERS { cpus = 1; memory = '1.0 GB'}
    withName: CHUNKFASTX { 
        cpus = 1
	memory = '1.0 GB'
        ext.args = "-b ${params.test_chunksize}"
    }
    withName: COMBINEBAM { cpus = 1; memory = '1.0 GB'}
    withName: COMBINEHMMSEARCHTBL { cpus = 1; memory = '1.0 GB'}
    withName: FASTAEMBEDLENGTH { cpus = 1; memory = '1.0 GB'}
    withName: DECONTAMBAM { cpus = 1; memory = '1.0 GB'}
    withName: PARSEHMMSEARCHCOVERAGE { cpus = 1; memory = '1.0 GB'}
}
