params {
    databases {

        motus {
            local_path = ''
        }

        host_genome {
            local_path = '/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/bwa-mem2'
	    base_dir = '.'
        }

        host_genome_minimap2 {
            local_path = '/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/minimap2/hg38'
	    base_dir = '.'
        }

        phix {
            local_path = ''
        }

        rfam {
            local_path = ''
        }

        silva_ssu {
            local_path = ''
        }

        silva_lsu {
            local_path = ''
        }
    }
}
