singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

params {
    skip_functional = true
    decontam_short_chunksize = 320000000
    decontam_long_chunksize = 6400000
    cmsearch_chunksize = 260.MB
    hmmsearch_chunksize = 800.MB
    hmmsearch_subsampling = 2000000
}

process {
    executor = 'slurm'

    cpus = 1
    memory = 1.GB
    time = '1.0 h'

    errorStrategy = 'retry'
    maxRetries = 1

    withName: SEQKIT_SHUFFLE_FASTA {
        cpus = 1
        memory = 64.GB
        time = '8.0 h'
    }

    withName: BBMAP_REFORMAT {
        cpus = 1
        memory = { 8.GB * Math.pow(2, task.attempt) }
        time = '8.0 h'
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
        maxRetries = 3
    }

    withName: BBMAP_REFORMAT_STANDARDISE {
        cpus = 1
        memory = { 16.GB * Math.pow(2, task.attempt) }
        time = '8.0 h'
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
        maxRetries = 3
    }

    withName: MOTUS_PROFILE {
        cpus = 4
        maxForks = 80
        memory = 16.GB
        time = '24.0 h'
    }

    withName: INFERNAL_CMSEARCH {
        cpus = 4
        maxForks = 80
        memory = 8.GB
        time = '8.0 h'
    }

    withName: HMMER_HMMSEARCH {
        cpus = 2
        maxForks = 250
        memory = 1.GB
        time = '8.0 h'
    }

    withName: CMSEARCHTBLOUTDEOVERLAP {
        cpus = 1
        memory = 1.GB
        time = '1.0 h'
    }

    withName: 'PIPELINE:DECONTAM_SHORTREAD:DECONTAM_HOST' {
        cpus = 4
        maxForks = 80
        memory = 32.GB
        time = '4.0 h'
    }

    withName: 'PIPELINE:DECONTAM_SHORTREAD:DECONTAM_PHIX' {
        cpus = 1
        maxForks = 320
        memory = 1.GB
        time = '4.0 h'
    }

    withName: 'PIPELINE:DECONTAM_LONGREAD:DECONTAM' {
        cpus = 4
        maxForks = 80
        memory = 16.GB
        time = '4.0 h'
    }

    withName: EXTRACTCOORDS {
        cpus = 1
        memory = 4.GB
        time = '1.0 h'
    }

    withName: EASEL_ESLSFETCH {
        cpus = 1
        memory = 4.GB
        time = '1.0 h'
    }

    withName: FASTP {
        cpus = 4
        memory = 4.GB
        time = '8.0 h'
    }

    withName: SEQKIT_TRANSLATE {
        cpus = 1
        memory = 1.GB
        time = '1.0 h'
    }

    withName: KRONA_KTIMPORTTEXT {
        cpus = 1
        memory = 1.GB
        time = '1.0 h'
    }

    withName: MAPSEQ {
        cpus = 4
        memory = 8.GB
        time = '4.0 h'
    }

    withName: MAPSEQ2BIOM {
        cpus = 1
        memory = 1.GB
        time = '1.0 h'
    }

    withName: 'PIPELINE:PROFILE_HMMSEARCH_PFAM:PARSEHMMSEARCHCOVERAGE' {
        cpus = 1
        memory = 16.GB
        time = '1.0 h'
    }
}