singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

params {
    cmsearch_chunksize = 400.MB
    hmmsearch_chunksize = 20.MB
    decontam_short_phix_chunksize = '10G'
    decontam_short_host_chunksize = '10G'
    decontam_long_host_chunksize = '10G'
}

process {
    executor = 'slurm'
    
    clusterOptions = '-t 0-01:00:00 --mem=1G --ntasks 1 --cpus-per-task 1'

    withName: MOTUS_PROFILE {
        cpus = 4
        maxForks = 1
        memory = '8 GB'
        clusterOptions = '-t 1-00:00:00 --mem=8G --ntasks 1 --cpus-per-task 4'
    }

    withName: INFERNAL_CMSEARCH {
        cpus = 4
        memory = '8 GB'
        clusterOptions = '-t 0-04:00:00 --mem=8G --ntasks 1 --cpus-per-task 4'
    }
    
    withName: HMMER_HMMSEARCH {
        cpus = 2
        memory = '1 GB'
        clusterOptions = '-t 0-04:00:00 --mem=1G --ntasks 1 --cpus-per-task 2'
    }
    
    withName: CMSEARCHTBLOUTDEOVERLAP {
        cpus = 1
        memory = '1 GB'
        clusterOptions = '-t 0-01:00:00 --mem=1G --ntasks 1 --cpus-per-task 1'
    }
    
    withName: 'PIPELINE:DECONTAM_SHORTREAD:BWAMEM2_ALIGN_HOST' {
        cpus = 4
        memory = '32 GB'
        clusterOptions = '-t 0-04:00:00 --mem=32G --ntasks 1 --cpus-per-task 4'
    }
    
    withName: 'PIPELINE:DECONTAM_SHORTREAD:BWAMEM2_ALIGN_PHIX' {
        cpus = 2
        memory = '1 GB'
        clusterOptions = '-t 0-04:00:00 --mem=1G --ntasks 1 --cpus-per-task 2'
    }
    
    withName: 'PIPELINE:DECONTAM_LONGREAD:MINIMAP2_ALIGN' {
        cpus = 4
        memory = '16 GB'
        clusterOptions = '-t 0-04:00:00 --mem=16G --ntasks 1 --cpus-per-task 4'
    }
    
    withName: EXTRACTCOORDS {
        cpus = 1
        memory = '4 GB'
        clusterOptions = '-t 0-01:00:00 --mem=4G --ntasks 1 --cpus-per-task 1'
    }
    
    withName: EASEL_ESLSFETCH {
        cpus = 1
        memory = '1 GB'
        clusterOptions = '-t 0-01:00:00 --mem=1G --ntasks 1 --cpus-per-task 1'
    }
    
    withName: FASTP {
        cpus = 4
        memory = '4 GB'
        clusterOptions = '-t 0-08:00:00 --mem=4G --ntasks 1 --cpus-per-task 4'
    }
    
    withName: KRONA_KTIMPORTTEXT {
        cpus = 1
        memory = '1 GB'
        clusterOptions = '-t 0-01:00:00 --mem=1G --ntasks 1 --cpus-per-task 1'
    }
    
    withName: MAPSEQ {
        cpus = 4
        memory = '8 GB'
        clusterOptions = '-t 0-04:00:00 --mem=8G --ntasks 1 --cpus-per-task 4'
    }
    
    withName: MAPSEQ2BIOM {
        cpus = 1
        memory = '1 GB'
        clusterOptions = '-t 0-01:00:00 --mem=1G --ntasks 1 --cpus-per-task 1'
    }

    withName: 'PIPELINE:PROFILE_HMMSEARCH_PFAM:PARSEHMMSEARCHCOVERAGE' {
        cpus = 1
        memory = '16 GB'
        clusterOptions = '-t 0-01:00:00 --mem=16G --ntasks 1 --cpus-per-task 1'
    }
}
