singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

process {
    executor = 'local'

    withName: MOTUS_PROFILE {
        cpus = 1
        maxForks = 1
        memory = '8 GB'
    }
    withName: INFERNAL_CMSEARCH {
        cpus = 1
        memory = '16 GB'
    }
    withName: HMMER_HMMSEARCH {
        cpus = 1
        memory = '16 GB'
    }
    withName: CMSEARCHTBLOUTDEOVERLAP {
        cpus = 1
        memory = '1 GB'
    }
    withName: 'PIPELINE:DECONTAM_SHORTREAD:BWAMEM2_ALIGN_HOST' {
        cpus = 1
        memory = '24 GB'
    }
    withName: 'PIPELINE:DECONTAM_SHORTREAD:BWAMEM2_ALIGN_PHIX' {
        cpus = 1
        memory = '8 GB'
    }
    withName: 'PIPELINE:DECONTAM_LONGREAD:MINIMAP2_ALIGN' {
        cpus = 1
        memory = '24 GB'
    }
    withName: EXTRACTCOORDS {
        cpus = 1
        memory = '4 GB'
    }
    withName: EASEL_ESLSFETCH {
        cpus = 1
        memory = '1 GB'
    }
    withName: FASTP {
        cpus = 1
        memory = '8 GB'
    }
    withName: KRONA_KTIMPORTTEXT {
        cpus = 1
        memory = '1 GB'
    }
    withName: MAPSEQ {
        cpus = 1
        memory = '8 GB'
    }
    withName: MAPSEQ2BIOM {
        cpus = 1
        memory = '1 GB'
    }
}
