docker {
    enabled = true
    autoMounts = true
    fixOwnership = true
}

params {
    decontam_short_chunksize = 160000000
    decontam_long_chunksize = 3200000
    cmsearch_chunksize = 260.MB
    hmmsearch_chunksize = 800.MB
    hmmsearch_subsampling = 2000000
}

process {
    executor = 'local'
    
    cpus = 1
    memory = '1 GB'

    withName: SEQKIT_SHUFFLE_FASTA {
        cpus = 1
        memory = '16 GB'
    }

    withName: BBMAP_REFORMAT {
        cpus = 1
        memory = '8 GB'
    }

    withName: BBMAP_REFORMAT_STANDARDISE {
        cpus = 1
        memory = '8 GB'
    }

    withName: MOTUS_PROFILE {
        cpus = 4
        maxForks = 1
        memory = '16 GB'
    }

    withName: INFERNAL_CMSEARCH {
        cpus = 4
        memory = '8 GB'
    }

    withName: HMMER_HMMSEARCH {
        cpus = 2
        memory = '1 GB'
    }

    withName: CMSEARCHTBLOUTDEOVERLAP {
        cpus = 1
        memory = '1 GB'
    }

    withName: 'PIPELINE:DECONTAM_SHORTREAD:DECONTAM_HOST' {
        cpus = 4
        memory = '16 GB'
    }

    withName: 'PIPELINE:DECONTAM_SHORTREAD:DECONTAM_PHIX' {
        cpus = 1
        memory = '1 GB'
    }

    withName: 'PIPELINE:DECONTAM_LONGREAD:DECONTAM' {
        cpus = 4
        memory = '16 GB'
    }

    withName: EXTRACTCOORDS {
        cpus = 1
        memory = '4 GB'
    }

    withName: EASEL_ESLSFETCH {
        cpus = 1
        memory = '4 GB'
    }

    withName: FASTP {
        cpus = 4
        memory = '4 GB'
    }

    withName: SEQKIT_TRANSLATE {
        cpus = 1
        memory = '1 GB'
    }

    withName: KRONA_KTIMPORTTEXT {
        cpus = 1
        memory = '1 GB'
    }

    withName: MAPSEQ {
        cpus = 4
        memory = '8 GB'
    }

    withName: MAPSEQ2BIOM {
        cpus = 1
        memory = '1 GB'
    }

    withName: 'PIPELINE:PROFILE_HMMSEARCH_PFAM:PARSEHMMSEARCHCOVERAGE' {
        cpus = 1
        memory = '16 GB'
    }
}
