params.databases.host_genome.remote_path = '/Users/timrozday/Documents/hg38_mini.tar.gz'
params.databases.host_genome.base_dir = 'hg38_mini'
params.databases.host_genome.files.bwa_index_prefix = 'hg38_mini.fa'
params.databases.host_genome.files.genome = 'hg38_mini.fa'

params.databases.host_genome_minimap2.remote_path = '/Users/timrozday/Documents/hg38_mini.mmi.gz'
params.databases.host_genome_minimap2.base_dir = '.'
params.databases.host_genome_minimap2.files.index = 'hg38_mini.mmi'
