/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    errorStrategy = { sleep(Math.pow(3, task.attempt) * 60 as long); return 'retry' }
    maxRetries    = 3
    maxErrors     = '-1'

    cpus = 1
    memory = 1.GB
    time = '1.0 h'

    withName: 'PIPELINE:QC:FASTP' {
        cpus = 4
        memory = { 4.GB * Math.pow(2, task.attempt) }
        time = '8.0 h'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.json')) {
                    return "${meta.id}_qc.fastp.json"
                }
            },
        ]
    }

    withName: 'PIPELINE:READSMERGE:FASTP_PE' {
        ext.args = '--include_unmerged -A -G -Q -L'
        cpus = 2
        memory = { 2.GB * Math.pow(2, task.attempt) }
        time = '8.0 h'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.json')) {
                    return "${meta.id}_decontamination.fastp.json"
                }
            },
        ]
    }

    withName: 'PIPELINE:READSMERGE:FASTP_SE' {
        ext.args = '-A -G -Q -L'
        cpus = 2
        memory = { 2.GB * Math.pow(2, task.attempt) }
        time = '8.0 h'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.json')) {
                    return "${meta.id}_decontamination.fastp.json"
                }
            },
        ]
    }

    withName: 'PIPELINE:READSMERGE:SEQTK_SEQ' {
        ext.args = '-a'
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'PIPELINE:RRNA_EXTRACTION:INFERNAL_CMSEARCH' {
        ext.args = '--noali --hmmonly -Z 1000 --cut_ga -o /dev/null'
        cpus = 4
        maxForks = 80
        memory = { 8.GB * Math.pow(2, task.attempt) }
        time = '8.0 h'
    }

    withName: MAPSEQ {
        ext.args = '--outfmt simple'
        cpus = 4
        memory = { 8.GB * Math.pow(2, task.attempt) }
        time = '4.0 h'
    }

    withName: 'PIPELINE:ADDHEADER_GZIP_RRNA' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/${meta.db_label.toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.txt.gz')) {
                    return "${meta.id}_${meta.db_label.toLowerCase()}.txt.gz"
                }
                if (filename.contains('.txt')) {
                    return "${meta.id}_${meta.db_label.toLowerCase()}.txt"
                }
            },
        ]
    }

    withName: 'PIPELINE:MAPSEQ_OTU_KRONA:KRONA_KTIMPORTTEXT' {
        cpus = 1
        memory = 1.GB
        time = '1.0 h'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/${meta.db_label.toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.html')) {
                    return "${meta.id}_${meta.db_label.toLowerCase()}.html"
                }
            },
        ]
    }

    withName: 'PIPELINE:MOTUS_KRONA:MOTUS_PROFILE' {
        ext.args = '-c -p -q'
        cpus = 4
        maxForks = 80
        memory = { 16.GB * Math.pow(2, task.attempt) }
        time = '24.0 h'
    }

    withName: 'PIPELINE:ADDHEADER_GZIP_MOTUS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/motus" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.tsv.gz')) {
                    return "${meta.id}_motus.txt.gz"
                }
                if (filename.contains('.tsv')) {
                    return "${meta.id}_motus.txt"
                }
            },
        ]
    }

    withName: 'PIPELINE:MOTUS_KRONA:KRONA_KTIMPORTTEXT' {
        cpus = 1
        memory = 1.GB
        time = '1.0 h'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/motus" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.html')) {
                    return "${meta.id}_motus.html"
                }
            },
        ]
    }

    withName: 'PIPELINE:PROFILE_HMMSEARCH_PFAM:HMMER_HMMSEARCH' {
        ext.args = "-Z ${params.databases.pfam.variables.num_models} --cut_ga --noali"
        cpus = 2
        maxForks = 250
        memory = 1.GB
        time = '8.0 h'
    }

    withName: 'PIPELINE:PROFILE_HMMSEARCH_PFAM:PARSEHMMSEARCHCOVERAGE' {
        ext.args = ""
        cpus = 1
        memory = { 16.GB * Math.pow(2, task.attempt) }
        time = '1.0 h'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/function-summary/pfam" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.json')) {
                    return "${meta.id}_pfam.stats.json"
                }
            },
        ]
    }

    withName: 'PIPELINE:ADDHEADER_GZIP_PFAM' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/function-summary/pfam" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.tsv.gz')) {
                    return "${meta.id}_pfam.txt.gz"
                }
                if (filename.contains('.tsv')) {
                    return "${meta.id}_pfam.txt"
                }
            },
        ]
    }

    withName: 'PIPELINE:PROFILE_HMMSEARCH_PFAM:SEQKIT_TRANSLATE' {
        ext.args = "--append-frame --allow-unknown-codon --frame 6 --out-subseqs --min-len 15"
        cpus = 1
        memory = 1.GB
        time = '1.0 h'
    }

    withName: MULTIQC_STUDY {
        ext.args = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        ext.prefix = { "multiqc_report" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*multiqc_report.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : "study_multiqc_report.html" },
        ]
    }

    withName: MULTIQC_RUN {
        ext.args = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        ext.prefix = { "${meta.id}_multiqc_report" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc" },
            mode: params.publish_dir_mode,
            pattern: "*multiqc_report.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.id}_multiqc_report.html" },
        ]
    }

    withName: SEQKIT_SHUFFLE_FASTA {
        cpus = 1
        memory = { 32.GB * Math.pow(2, task.attempt) }
        time = '8.0 h'
    }

    withName: BBMAP_REFORMAT {
        cpus = 1
        memory = { 8.GB * Math.pow(2, task.attempt) }
        time = '8.0 h'
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    }

    withName: BBMAP_REFORMAT_STANDARDISE {
        cpus = 1
        memory = { 16.GB * Math.pow(2, task.attempt) }
        time = '8.0 h'
        errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    }

    withName: CMSEARCHTBLOUTDEOVERLAP {
        cpus = 1
        memory = 1.GB
        time = '8.0 h'
    }

    withName: 'PIPELINE:DECONTAM_SHORTREAD:DECONTAM_HOST' {
        cpus = 4
        maxForks = 80
        memory = 32.GB
        time = '4.0 h'
    }

    withName: 'PIPELINE:DECONTAM_SHORTREAD:DECONTAM_PHIX' {
        cpus = 1
        maxForks = 320
        memory = 1.GB
        time = '8.0 h'
    }

    withName: 'PIPELINE:DECONTAM_LONGREAD:DECONTAM' {
        cpus = 4
        maxForks = 80
        memory = 16.GB
        time = '8.0 h'
    }

    withName: EXTRACTCOORDS {
        cpus = 1
        memory = { 4.GB * Math.pow(2, task.attempt) }
        time = '8.0 h'
    }

    withName: EASEL_ESLSFETCH {
        cpus = 1
        memory = { 4.GB * Math.pow(2, task.attempt) }
        time = '8.0 h'
    }

    withName: MAPSEQ2BIOM {
        cpus = 1
        memory = 1.GB
        time = '8.0 h'
    }
}
