/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'PIPELINE:READSMERGE:RENAMEPAIREDFASTXHEADERS' {
        ext.args = '-d .'
    }

    withName: 'PIPELINE:READSMERGE:FASTP' {
        ext.args = '--include_unmerged'
    }

    withName: 'PIPELINE:READSMERGE:SEQTK_SEQ' {
        ext.args = '-a'
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: MAPSEQ {
        ext.args = '--outfmt simple'
    }

    withName: 'PIPELINE:QC:FASTP' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc-stats/fastp" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.json')) {
                    return "${meta.id}_fastp.json"
                }
            },
        ]
    }

    withName: 'PIPELINE:DECONTAM_SHORTREAD:CHUNKFASTX_PHIX' {
        ext.args = "-b ${params.decontam_short_phix_chunksize}"
    }

    withName: 'PIPELINE:DECONTAM_SHORTREAD:CHUNKFASTX_HOST' {
        ext.args = "-b ${params.decontam_short_host_chunksize}"
    }

    withName: 'PIPELINE:DECONTAM_LONGREAD:CHUNKFASTX' {
        ext.args = "-b ${params.decontam_long_host_chunksize}"
    }

    withName: 'PIPELINE:DECONTAM_SHORTREAD:DECONTAMBAM_HOST' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/decontam-stats/host" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('_summary_stats.txt')) {
                    return filename
                }
            },
        ]
    }

    withName: 'PIPELINE:DECONTAM_SHORTREAD:DECONTAMBAM_PHIX' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/decontam-stats/phix" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('_summary_stats.txt')) {
                    return filename
                }
            },
        ]
    }

    withName: 'PIPELINE:DECONTAM_LONGRAD:DECONTAMBAM' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/decontam-stats/host" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('_summary_stats.txt')) {
                    return filename
                }
            },
        ]
    }

    withName: 'PIPELINE:ADDHEADER_RRNA' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/${meta.db_label}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.txt')) {
                    return "${meta.id}_${meta.db_label}.txt"
                }
            },
        ]
    }

    withName: 'PIPELINE:MAPSEQ_OTU_KRONA:MAPSEQ' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/${meta.db_label}/mapseq" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.mseq')) {
                    return "${meta.id}_${meta.db_label}.mseq"
                }
            },
        ]
    }

    withName: 'PIPELINE:MAPSEQ_OTU_KRONA:KRONA_KTIMPORTTEXT' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/${meta.db_label}/krona" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.html')) {
                    return "${meta.id}_${meta.db_label}.html"
                }
            },
        ]
    }

    withName: 'PIPELINE:MOTUS_KRONA:MOTUS_PROFILE' {
        ext.args = '-c -p -q'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/mOTUs/raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.out')) {
                    return "${meta.id}_mOTUs.out"
                }
            },
        ]
    }

    withName: 'PIPELINE:ADDHEADER_MOTUS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/mOTUs" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.tsv')) {
                    return "${meta.id}_mOTUs.txt"
                }
            },
        ]
    }

    withName: 'PIPELINE:MOTUS_KRONA:KRONA_KTIMPORTTEXT' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/mOTUs/krona" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.html')) {
                    return "${meta.id}_mOTUs.html"
                }
            },
        ]
    }

    withName: 'PIPELINE:PROFILE_HMMSEARCH_PFAM:HMMER_HMMSEARCH' {
        ext.args = "-Z ${params.databases.pfam.variables.num_models} --cut_ga"
    }

    withName: 'PIPELINE:PROFILE_HMMSEARCH_PFAM:COMBINEHMMSEARCHTBL' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/function-summary/Pfam-A/raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if(filename.contains('.domtbl')){
                    return "${meta.id}_Pfam-A.domtbl"
                }
            },
        ]
    }


    withName: 'PIPELINE:PROFILE_HMMSEARCH_PFAM:PARSEHMMSEARCHCOVERAGE' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${meta.id}/function-summary/Pfam-A" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if(filename.contains('.tsv')){
                    return "${meta.id}_Pfam-A.txt"
                }
            },
        ]
    }

    withName: 'PIPELINE:PROFILE_HMMSEARCH_PFAM:SEQKIT_TRANSLATE' {
        ext.args = "--append-frame --allow-unknown-codon --frame 6 --out-subseqs --min-len 15"
    }

    withName: MULTIQC_STUDY {
        ext.args = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
